.poster {
    height: 450px;
    width: 250px;
}

.posterTitle {
    height: 4rem;
    padding-bottom: 26px;
}

.poster a {
    color: inherit;
    text-decoration: none;
    height: stretch;
}

.poster img {
    height: 300px;
    width: 200px;
    border-radius:12px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFF00;
    fill: #FFFF00;
}

.starOverlap {
    position: relative;
    width: 24px;
    height: 24px;
}

.starOverlap svg {
    position: absolute;
    top: 0;
    left: 0;
}