.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    row-gap: 24px;
    margin-top: 24px;
}

.listChild {
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
}

.genreList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    margin: 24px 0;
}

.pageSelection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin: 36px 0;
}