:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(253, 252, 253);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg-color: #1F1F29;
  --secondary-bg-color: #131316;

  --primary-txt-color: #FFFFFF;
  --secondary-txt-color: #FF0000BA;

  --primary-icon-color: #B9C1D9;
  --secondary-icon-color: #E2E2E200;
  --terciary-icon-color: #FF0000E0;

  --primary-button-color: #3A21D9;
  --secondary-button-color: #515053;
  --terciary-button-color: #F5C518;

  --primary-chip-color: #312F35;
}

#root {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: grid;
  width: stretch;
  height: stretch;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
}

@media (min-width: 430px) {
}